* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100vw;
    height: 400px;
    background-color: red;
    position: relative;
    padding: 0 auto;
    display: flex;
    justify-content: center;
}


.drop-menu {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 32px;
    padding-top: 20px;
    text-align: center;
    width: 450px;
    height: 150px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 0, 255);
    transition-duration: 1.5s;
    top: -250px;
    opacity: 0;
}

.drop-d-block {
    top: 0;
    opacity: 1;
}