* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 100vw;
    height: 70px;
    background-color: rgb(53, 47, 47);
    position: relative;
}

.logo-text {
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.but-cont {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    padding: 7px 7px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    background-color: rgb(15, 15, 15);
    text-align: center;
    outline: none;
    border: 1px solid rgb(175, 171, 171);
    border-radius: 3px;
    transition-duration: 0.3s;
}

.btn:active {
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
}

.btn-car {
    width: 30px;
    position: relative;
}

.btn-left {
    left: 30px;
}

.btn-right {
    right: 30px;
}

.drop-menu {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    width: 100vw;
    height: 50px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 0, 255);
    transition-duration: 1.5s;
    top: -250px;
    opacity: 0;
}

.img {
    width: 100%;
}

span {
    color: rgb(255, 175, 1)
}

.drop-d-block {
    top: 0;
    opacity: 1;
}

.container-carousel {
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .img {
        height: 250px;
    }
}